{% extends 'admin_base.html' %} {% block body %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">{{table_name}}</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                                        <li class="breadcrumb-item active">{{table_name}}</li>
                                    </ol>
                                </div>


                            </div>
                            <div class="col-md-auto" style="margin: 10px;">
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="alert alert-success alert-dismissable" role="alert" id="inside_alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">&nbsp;<span aria-hidden="true">x</span></button>
                        {{message}}
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
                </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mt-4">

                            <div class="card-body p-4">
                                <div class="text-center mt-2">
                                    <h5 class="text-primary">Welcome Back !</h5>
                                    {% if session["admin_username"] %}
                                    <p class="text-muted">{{session["admin_username"]}}</p>
                                    {% else %}
                                    <p class="text-muted">Not Admin User</p>
                                    {% endif %}
                                </div>
                            </div>
                                <div class="p-2 mt-4">
                                    <form action="/admin_user" method="POST">
                                        {% for name in all_keys %}
                                        {% for col_name in name %}
                                        <div class="mb-3">
                                            <input type="text" name={{col_name}} class="form-control" placeholder="Enter {{col_name}}" required>
                                        </div>
                                        {% endfor %}
                                        {% endfor %}
                                        <div class="mt-4 text-center">
                                            <input type="submit" name="signin" id="signin" class="form-submit btn btn-success w-100" value="Submit"/>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->

                    </div>
                </div>

                    <div class="row">
                        <div class="col-12">
                            {% if all_response %}
                            <table class="table">
                              <thead>
                              {% for main in all_keys %}
                              <tr>
                                {% for var in main %}
                                  <th scope="col">{{var}}</th>
                                {% endfor %}
<!--                                  <th scope="col">Action</th>-->
                              </tr>
                              {% endfor %}
                              </thead>
                              <tbody>
                              {% for em in all_response %}
                                <tr>
                                    {% for em1 in em %}
                                  <td>{{em1}}</td>
                                    {% endfor %}
<!--                                    <td><a href="/delete/admin user+++{{ loop.index }}">Delete</a><br>Update</td>-->
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                            {% else %}
                            <p>"Email Data is not availble this website"</p>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Code Scatter
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Code Scatter
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

{% endblock %}
